# Arranque de la ISO como archivo desde otro GRUB (loopback).
# https://www.supergrubdisk.org/wiki/Loopback.cfg

search --no-floppy --set=archiso_img_dev --file "${iso_path}"
probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"

set default=gmini
set timeout=10
set timeout_style=menu

menuentry "G-Mini OS" --class arch --class gnu-linux --class gnu --class os --id 'gmini' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" cow_spacesize=70% copytoram=n quiet loglevel=3
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "G-Mini OS (English)" --class arch --class gnu-linux --class gnu --class os --id 'gmini-en' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" cow_spacesize=70% copytoram=n quiet loglevel=3 gmini.lang=en
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}

menuentry "G-Mini OS (modo seguro: gráficos básicos)" --class arch --class gnu-linux --class gnu --class os --id 'gmini-safe' {
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" cow_spacesize=70% copytoram=n nomodeset
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}
